@using Restaurant.Front.Blazor.Components.Cart;
@inherits LayoutComponentBase

<style>
    .top-row {
    }

    .top-row__logo {
        height: 100%;
    }

        .top-row__logo img {
            height: 120%;
        }

    .top-row__icons {
        font-size: 2em;
    }
</style>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">


<div class="main">
    <div class="top-row px-4">

        <div class="top-row__logo">
            <a class="hidden-link" href="/product">
                <img src="/img/ico/logo.png" alt="" />
                <img src="/img/ico/pizza.png" alt="" />
            </a>
        </div>

        <div class="ml-md-auto top-row__icons">
            <CartIcon />
        </div>
    </div>


    <div class="content px-4">
        @Body
    </div>
</div>
