@using Models

@if(Model.IsEnabled && Model.Photo != null)
{
    <div class="card card-product" id="card-@Model.Id">
        <div class="card-body text-center">
            <a href="product/details/@Model.Id">
                <img class="card-img-top" src="./img/products/@Model.Photo" />
            </a>            
            @foreach (var item in Model.Labels)
            {
                <span class="badge badge-secondary m-md-3">@item.Title</span>
            }
            <h6>@Model.Title</h6>
            <h3>@Math.Round(Model.Price, 0) ГРН</h3>
            <button type="button" class="btn btn-secondary">В корзину</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public ProductPoco Model { get; set; }
}
